:root{
  --very-dark-color: #536456;
  --dark-color: #0d0e0d;
  --main-color: #323336;
  --light-color: #f7fcfa;
  --base-color: #e6eee4;
  --contrast-color: #bd1e1e;
}

* {
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  background-color: var(--base-color);
  color: var(--main-color);
  padding: 20px 0;
  margin: 10px;
}

.logo{
  max-width: 200px;
}

h1{
  margin: 0;
  font-size: 80px;
}

nav {
  background-color: var(--contrast-color);
  color: var(--base-color);
  padding: 10px;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li{
  margin-right: 20px;
}

nav a{
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  transition: color 0.3s ease; /*Add smooth color transition effect*/
}

nav a:hover{
  color: var(--dark-color);
}

.hero-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  background-image: url(../images/kate3-bw.jpg);
  color: var(--dark-color);
  padding: 40px;
  margin: 10px;
}

.hero-banner div {
  flex: 1; /*Make each child element take up equal horizontal space */
}

.hero-banner img {
  max-width: 30%;
  border-radius: 50%;
  margin-left: 20px; /*adjusting spacing between text and image */
}

.hero-banner h2{
  color: var(--contrast-color);
  font-size: 36px;
  font-weight: bold;
}

.hero-banner p{
  color: var(--main-color);
  font-size: 30px;
}

main{
  margin: 10px;
}

#about, #contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: var(--main-color);
}

h2{
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--base-color);
  color: var(--dark-color);
  font-weight: bold;
  font-size: 36px;
  border-bottom: 5px solid var(--contrast-color);
}

#about div{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

#about img{
  max-width: 200px;
  max-height: 200px;
  border-radius: 10%;
  margin-right: 5px;
}

#about h3, #about p{
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
  color: var(--light-color);
  font-size: 20px;
}

#work, #values{
  display: flex;
  flex-direction: column;
  background-color: var(--base-color);
  color: var(--dark-color);
  text-align: center;
  padding: 40px 0;
}

#work-container{
  margin: 0px 5%;
  width: 100%;
  display: grid;
  grid-template-rows: 400px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "work1 work1"
      "work2 work3"
      "work4 work5";
}

.work-item{
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}

#work1{
  grid-area: work1;
  background-image: url(../images/chair.jpg);
}

#work2{
  grid-area: work2;
  background-image: url(../images/logodesign.png);
}

#work3{
  grid-area: work3;
  background-image: url(../images/menu.jpg);
}

#work4{
  grid-area: work4;
  background-image: url(../images/decorating.jpg);
}

#work5{
  grid-area: work5;
  background-image: url(../images/T-shirt.jpg);
}

.heading{
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  margin-bottom: 20px;
  height: 75px;
  width: 200px;
  color: var(--light-color);
  font-size: 28px;
  border-bottom: 5px solid var(--contrast-color);
}

#experience {
  background-color: var(--main-color);
  color: var(--base-color);
  justify-content: center;
  text-align: center;
  padding: 40px 0;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-item {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Make the container rounded */
  overflow: hidden; /* Hide content overflow for rounded effect */
  margin: 10px;
  position: relative;
  flex: 0 0 auto; /* Ensure items don't grow to fill the space */
}

.experience-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio for images */
}

.experience-item p {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for text */
  margin: 0;
  padding: 10px;
  color: var(--dark-color);
}

.values-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.values-item{
  width: calc(25% - 20px); /*set width for each work item, considering margin */
  margin:  0 10px 20px 10px;
  display: inline-block; /*display work item in a row */
  vertical-align: top; /*align work items to the to of the container */
}

.values-item img{
  max-width: 100%; /* ensure the image doesn't exceed the width of its container */
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.frame {
  width: 200px; /*set width for each work item, considering margin */
  height: 200px;
  border-radius: 10px;
  border: 2px solid var(--very-dark-color);
  padding: 10px; /* Optional: Add padding to provide space between text and frame border */
  margin: auto;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 1.4;
  text-align: justify;
  width: 100%;
}

.work-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: var(--main-color);
}

.work-details h2{
  align-items: center;
  text-align: center;
}

.project{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.project img{
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}

.project div{
  flex-grow: 1;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.work-details h3 {
    margin: 10px; /* Remove default margin */
    padding: 10px;
    text-align: center;
    background-color: var(--light-color);
    font-size: 36px;
}

.work-details p {
  margin: 10px; /* Remove default margin */
  color: var(--light-color);
  font-size: 24px;
}

#contact p{
  color: var(--light-color);
}

#contact a{
  color: var(--base-color);
}



@media only screen and (max-width: 768px) {
  /* Adjust styles for tablet screens */
  nav {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav a {
    font-size: 24px;
  }

  .hero-banner {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-banner img {
    margin-left: 0;
  }

  .hero-banner h2 {
    font-size: 24px;
  }

  .hero-banner p {
    font-size: 18px;
  }

  #about h2,
  #work h2,
  #values h2,
  #experience h2 {
    font-size: 24px;
  }

  #about h3{
    font-size: 16px;
  }

  #about p{
    font-size: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Hide overflowing content */
  }

  .work-item,
  .values-item {
    width: calc(50% - 20px);
  }

  .work-item img,
  .values-item img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  /* Adjust styles for phone screens */
  .logo{
    display: none;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav a {
    font-size: 16px;
  }

  .hero-banner {
    padding: 10px;
  }

  .hero-banner h2 {
    font-size: 20px;
  }

  .hero-banner p {
    font-size: 16px;
  }

  #about h2,
  #work h2,
  #values h2,
  #experience h2 {
    font-size: 20px;
  }
  #about h3{
    font-size: 16px;
  }

  #about p{
    display: none;
  }

  .work-item,
  .values-item {
    width: 100%;
  }

  .work-item img,
  .values-item img {
    width: 100%;
    height: auto;
  }
}